AddDefaultCharset utf-8
ErrorDocument 404 /error-documents/404.html

Redirect permanent /this_page_is_all_about_me.html http://hethrael.com/lithis.html

RewriteEngine on
RewriteCond %{HTTP_HOST} ^(lithis\.webfactional\.com)|((www\.)?hethrael.com)$
RewriteRule ^(.*) http://hethrael.org/$1 [R=permanent]
